<style>
  #main {
  background-color : white;
  }
#title {
  color : blue;
  text-align : center;
  font-family : Garamond;
  font-size : 45;
} 
#img-div {
  text-align : center;
}
#def {
  text-align : center;
  font-size : 18;
  font-weight : bold;
  }
#image {
  max-width : 100%;
  height : auto;
  display : block;
}
#img-caption {
  font-family : Arial;
  font-style : Italic;
  font-size : 13
}
#key-facts {
  font-size: 18;
  color : blue;
}
#list {
  background-color : gray;
  border-color : blue;
  border-width : 2px;
  border-style : solid;
  padding : 10px 20px 10px 30px;
}
#quote {
  font-style : italic;
  text-align : center;
  font-size : 20;
  color : brown;
}
#footer {
  font-size : 14
}
</style>
